{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h2>Search Result :</h2>
    <div class="row mt-3">

        <div class="col-sm-8 offset-sm-1">
            {% if prod|length < 1 %} <p>No search result </p>
                <p>Your search - <b>{{prodname}}</b> - did not match
                    any
                    items.</p>
                Suggestions:
                <ul>
                    <li> Make sure that all words are spelled correctly.</li>
                    <li> Try different keywords.</li>
                    <li> Try more general keywords.</li>
                    <li> Try fewer keywords</li>
                </ul>
                {% else %}
                {% for p in prod %}
                <a href="{% url 'product-detail' p.id %}" class="btn">
                    <div class="item"><img src="{{p.product_image.url}}" alt="" width="150px"
                            height="200px"><br>
                        <div>
                            <span class="fw-bold">{{p.title}}</span><br>
                            <span class="fs-5">Rs. {{p.discount_price}}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
        </div>
    </div>
</div>
{% endblock main-content %}